<!-- Projeto Desenvolvido na Data Science Academy - www.datascienceacademy.com.br -->
# <font color='blue'>Data Science Academy</font>
## <font color='blue'>Automação de Processos e Engenharia de Dados com Python, Excel e IA</font>
## <font color='blue'>Lab 1</font>
## <font color='blue'>Estratégias de Fatiamento, Filtro e Busca em Conjuntos de Dados</font>

## Pacotes Python Usados no Projeto

In [1]:
# Instala o pacote watermark
!pip install -q -U watermark

In [2]:
# Imports
import pandas as pd

In [3]:
%reload_ext watermark
%watermark -a "Data Science Academy"

Author: Data Science Academy

## Carregando o Dataset

In [4]:
df_dsa1 = pd.read_csv('dataset1.csv', index_col = 0, nrows = 10)

In [5]:
df_dsa1.shape

(10, 15)

In [6]:
df_dsa1

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188

## Estratégias de Fatiamento

### Slicing ( usando [ ] )

A instrução abaixo é usada para selecionar um subconjunto de linhas de um DataFrame chamado df_dsa1. Especificamente, ela retorna as linhas de índice 1 a 4, pois a indexação é baseada em zero e o limite superior (5 neste caso) é exclusivo. Isso significa que a primeira linha (índice 0) é excluída, e as linhas com índices 1, 2, 3 e 4 são incluídas no resultado.

In [7]:
df_dsa1[1:5]

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

A instrução abaixo seleciona duas colunas específicas, host_name e neighbourhood. Esta operação retorna um novo DataFrame contendo apenas as colunas mencionadas, mantendo todas as linhas presentes no DataFrame original. Essa forma de seleção é útil quando se deseja trabalhar ou analisar somente um subconjunto específico de colunas de um conjunto de dados maior.

In [8]:
df_dsa1[ ['host_name', 'neighbourhood'] ]

        host_name       neighbourhood
id
2539         John          Kensington
2595     Jennifer             Midtown
3647    Elisabeth              Harlem
3831  LisaRoxanne        Clinton Hill
5022        Laura         East Harlem
5099        Chris         Murray Hill
5121        Garon  Bedford-Stuyvesant
5178     Shunichi      Hell's Kitchen
5203    MaryEllen     Upper West Side
5238          Ben           Chinatown

### Seleção Por Label (df.loc)

A instrução abaixo é usada para selecionar um subconjunto específico de linhas e colunas de um DataFrame usando rótulos de índice e nomes de coluna.

In [9]:
df_dsa1.loc[2595:5022, 'room_type':]

,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,
2595,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3647,Private room,150,3,0,NaN,NaN,1,365
3831,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
5022,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

### Seleção Por Posição (df.iloc)

A instrução abaixo é usada para selecionar um subconjunto específico de linhas e colunas de um DataFrame usando posições inteiras de linhas e colunas.

In [10]:
df_dsa1.iloc[ [0,5,7,9] , 4:8]

       neighbourhood  latitude  longitude        room_type
id
2539      Kensington  40.64749  -73.97237     Private room
5099     Murray Hill  40.74767  -73.97500  Entire home/apt
5178  Hell's Kitchen  40.76489  -73.98493     Private room
5238       Chinatown  40.71344  -73.99037  Entire home/apt

### df.at[ ]

A instrução abaixo é usada para acessar um único valor específico no DataFrame, localizado no cruzamento da linha com índice 3647 e a coluna neighbourhood_group. O método .at[] é otimizado para acessar rapidamente um valor escalar, sendo preferível quando se conhece o rótulo exato da linha e o nome da coluna do valor que se deseja obter.

In [11]:
df_dsa1.at[3647, 'neighbourhood_group']

'Manhattan'

### df.iat[ ]

O comando abaixo acessa o valor na terceira linha e quarta coluna do DataFrame, usando indexação baseada em posição. O método .iat[] é utilizado para obter valores escalares de forma rápida quando se sabe a posição exata da linha e da coluna.

In [12]:
df_dsa1.iat[2,3]

'Manhattan'

## Estratégias de Filtro de Dados

In [13]:
# Carregamos o dataset completo
df_dsa1 = pd.read_csv('dataset1.csv')

In [14]:
df_dsa1.shape

(48895, 16)

In [15]:
df_dsa1.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

A expressão abaixo compara cada valor na coluna 'neighbourhood' do DataFrame com a string 'Williamsburg', resultando em uma estrutura de Series de valores booleanos. Cada valor será True se o correspondente valor na coluna 'neighbourhood' for igual a 'Williamsburg', e False caso contrário. Esta operação é comumente usada como uma condição para filtrar linhas de um DataFrame, mas por si só, não filtra o DataFrame; ela apenas retorna a condição de comparação. Para filtrar, essa expressão geralmente é usada dentro de colchetes para indexar o DataFrame, como df_dsa1[df_dsa1['neighbourhood'] == 'Williamsburg'].

In [16]:
df_dsa1['neighbourhood'] == 'Williamsburg'

0        False
1        False
2        False
3        False
4        False
         ...
48890    False
48891    False
48892    False
48893    False
48894    False
Name: neighbourhood, Length: 48895, dtype: bool

In [17]:
df_dsa1[df_dsa1['neighbourhood'] == 'Williamsburg']

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
15,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140,2,148,2019-06-29,1.20,1,46
20,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299,3,9,2011-12-28,0.07,1,0
52,14290,* ORIGINAL BROOKLYN LOFT *,56104,James,Brooklyn,Williamsburg,40.70420,-73.93560,Entire home/apt,228,3,82,2019-05-17,0.70,1,140
55,14377,Williamsburg 1 bedroom Apartment,56512,Joanna,Brooklyn,Williamsburg,40.70881,-73.95930,Entire home/apt,150,30,105,2019-06-22,0.90,1,30
60,15385,"Very, very cozy place",60252,Cristina,Brooklyn,Williamsburg,40.71185,-73.96204,Private room,80,2,42,2019-06-30,0.38,1,263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48870,36474911,"Cozy, clean Williamsburg 1- bedroom apartment",1273444,Tanja,Brooklyn,Williamsburg,40.71197,-73.94946,Entire home/apt,99,4,0,NaN,NaN,1,22
48879,36480292,Gorgeous 1.5 Bdr with a private yard- Williams...,540335,Lee,Brooklyn,Williamsburg,40.71728,-73.94394,Entire home/apt,120,20,0,NaN,NaN,1,22
48880,36481315,The Raccoon Artist Studio in Williamsburg New ...,208514239,Melki,Brooklyn,Williamsburg,40.71232,-73.94220,Entire home/apt,120,1,0,NaN,NaN,3,365
48884,36482783,Brooklyn Oasis in the heart of Williamsburg,274307600,Jonathan,Brooklyn,Williamsburg,40.71790,-73.96238,Private room,190,7,0,NaN,NaN,1,341
48887,36483152,Garden Jewel Apartment in Williamsburg New York,208514239,Melki,Brooklyn,Williamsburg,40.71232,-73.94220,Entire home/apt,170,1,0,NaN,NaN,3,365

A expressão abaixo compara cada valor na coluna 'host_id' do DataFrame com o número 50000, resultando em Series de valores booleanos. Cada valor será True se o correspondente valor na coluna 'host_id' for menor que 50000, e False caso contrário. Essa condição pode ser usada para filtrar o DataFrame, selecionando apenas as linhas onde o host_id é menor que 50000, embora a expressão por si só apenas crie a condição de comparação, sem aplicar o filtro diretamente.

In [18]:
df_dsa1['host_id'] < 50000

0         True
1         True
2         True
3         True
4         True
         ...
48890    False
48891    False
48892    False
48893    False
48894    False
Name: host_id, Length: 48895, dtype: bool

In [19]:
df_dsa1[df_dsa1['host_id'] < 50000]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45301,34658339,Beautiful apartment on UWS for couple or single!,34331,Eveline,Manhattan,Upper West Side,40.79056,-73.97306,Entire home/apt,150,30,0,NaN,NaN,1,36
46049,35042058,"Big one bedroom apt, new and beautiful.",19342,Rivka,Manhattan,Upper West Side,40.79900,-73.96315,Entire home/apt,11,7,0,NaN,NaN,1,273
46087,35066003,Brooklyn's Gorgeous Garden Apt. 25' to Downtown.,47532,Tika,Brooklyn,Bedford-Stuyvesant,40.68463,-73.92617,Entire home/apt,169,4,0,NaN,NaN,1,6
46396,35231916,Stay in LIC- Only 10 Minutes From Midtown!,15574,Joy,Queens,Long Island City,40.75367,-73.92890,Private room,65,5,1,2019-06-23,1.00,1,49
46997,35536969,Lofty spacious sun drenched home,40275,Yael,Brooklyn,Bedford-Stuyvesant,40.69312,-73.96051,Entire home/apt,250,2,1,2019-06-16,1.00,1,66

A expressão abaixo combina três condições booleanas para filtrar o DataFrame df_dsa1.

O operador & é usado para combinar essas condições, significando que todas devem ser verdadeiras para uma linha ser considerada verdadeira pela expressão completa. O resultado é uma Series de valores booleanos que indica, para cada linha do DataFrame, se ela satisfaz todas as condições especificadas.

Essa expressão pode ser usada para filtrar o DataFrame, selecionando apenas as linhas que satisfazem todas essas condições simultaneamente. Para aplicar o filtro, a expressão geralmente é usada dentro de colchetes para indexar o DataFrame, como df_dsa1[(condição)].

In [20]:
(df_dsa1['neighbourhood_group'] == "Manhattan") & (df_dsa1['price'] < 150) & (df_dsa1['room_type'] == "Entire home/apt")

0        False
1        False
2        False
3        False
4         True
         ...
48890    False
48891    False
48892     True
48893    False
48894    False
Length: 48895, dtype: bool

In [21]:
df_dsa1[(df_dsa1['neighbourhood_group'] == "Manhattan") & (df_dsa1['price'] < 150) & (df_dsa1['room_type'] == "Entire home/apt")]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
10,5295,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5,53,2019-06-22,0.43,1,6
14,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90,27,2018-10-31,0.22,1,0
81,19159,Spacious luminous apt Upper West NYC,73051,Sybilla,Manhattan,Harlem,40.82915,-73.95136,Entire home/apt,110,31,54,2019-03-23,0.49,1,209
96,21456,Light-filled classic Central Park,42032,Dana,Manhattan,Upper West Side,40.79764,-73.96177,Entire home/apt,140,3,81,2019-07-07,0.71,1,198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48829,36450283,Cozy SunDrenched 1 BR close to Transportation!,53360631,Ashley,Manhattan,Washington Heights,40.83734,-73.94326,Entire home/apt,90,4,0,NaN,NaN,1,83
48849,36455579,Studio in Manhattan(独立出入),257261595,Xiaolan,Manhattan,Harlem,40.80951,-73.95347,Entire home/apt,65,1,0,NaN,NaN,1,32
48860,36468386,纽约罗岛Roosevelt Island整租或合租 窗外美景 设施全 家具新 到曼哈顿方便 ...,228268650,Yan,Manhattan,Roosevelt Island,40.76688,-73.94688,Entire home/apt,145,1,0,NaN,NaN,1,30
48861,36468409,One bedroom Manhattan Upper East Side Apartment,57502664,Omar,Manhattan,Upper East Side,40.76628,-73.95795,Entire home/apt,120,1,0,NaN,NaN,1,1
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27

In [22]:
df_dsa1.query('neighbourhood_group == "Manhattan" & price < 150 & room_type == "Entire home/apt"')

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
10,5295,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5,53,2019-06-22,0.43,1,6
14,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90,27,2018-10-31,0.22,1,0
81,19159,Spacious luminous apt Upper West NYC,73051,Sybilla,Manhattan,Harlem,40.82915,-73.95136,Entire home/apt,110,31,54,2019-03-23,0.49,1,209
96,21456,Light-filled classic Central Park,42032,Dana,Manhattan,Upper West Side,40.79764,-73.96177,Entire home/apt,140,3,81,2019-07-07,0.71,1,198
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48829,36450283,Cozy SunDrenched 1 BR close to Transportation!,53360631,Ashley,Manhattan,Washington Heights,40.83734,-73.94326,Entire home/apt,90,4,0,NaN,NaN,1,83
48849,36455579,Studio in Manhattan(独立出入),257261595,Xiaolan,Manhattan,Harlem,40.80951,-73.95347,Entire home/apt,65,1,0,NaN,NaN,1,32
48860,36468386,纽约罗岛Roosevelt Island整租或合租 窗外美景 设施全 家具新 到曼哈顿方便 ...,228268650,Yan,Manhattan,Roosevelt Island,40.76688,-73.94688,Entire home/apt,145,1,0,NaN,NaN,1,30
48861,36468409,One bedroom Manhattan Upper East Side Apartment,57502664,Omar,Manhattan,Upper East Side,40.76628,-73.95795,Entire home/apt,120,1,0,NaN,NaN,1,1
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27

In [23]:
df_dsa1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [24]:
df_dsa1['host_name'].str.contains('l', case = False, na = False)

0        False
1        False
2         True
3         True
4         True
         ...
48890    False
48891     True
48892     True
48893    False
48894    False
Name: host_name, Length: 48895, dtype: bool

In [25]:
df_dsa1[df_dsa1['host_name'].str.contains('l', case = False, na = False)]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
10,5295,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5,53,2019-06-22,0.43,1,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48885,36482809,Stunning Bedroom NYC! Walking to Central Park!!,131529729,Kendall,Manhattan,East Harlem,40.79633,-73.93605,Private room,75,2,0,NaN,NaN,2,353
48887,36483152,Garden Jewel Apartment in Williamsburg New York,208514239,Melki,Brooklyn,Williamsburg,40.71232,-73.94220,Entire home/apt,170,1,0,NaN,NaN,3,365
48889,36484363,QUIT PRIVATE HOUSE,107716952,Michael,Queens,Jamaica,40.69137,-73.80844,Private room,65,1,0,NaN,NaN,2,163
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27

## Estratégias de Busca em Conjuntos de Dados

In [26]:
df_dsa1 = pd.read_csv('dataset1.csv', index_col = 0, nrows = 20)

### df.isin( )

Este comando seleciona todas as linhas no DataFrame onde o valor na coluna 'neighbourhood_group' é 'Manhattan'. Usa-se o método .isin(['Manhattan']) para filtrar as linhas com base em se o valor da coluna 'neighbourhood_group' corresponde ao item na lista fornecida, neste caso, apenas 'Manhattan'. O resultado é um novo DataFrame contendo apenas as linhas que satisfazem essa condição.

In [27]:
df_dsa1[df_dsa1['neighbourhood_group'].isin(['Manhattan'])]

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188
5295,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5,53,2019-06-22,0.43,1,6
5441,Central Manhattan/near Broadway,7989,Kate,Manhattan,Hell's Kitchen,40.76076,-73.98867,Private room,85,2,188,2019-06-23,1.50,1,39
6021,Wonderful Guest Bedroom in Manhattan for SINGLES,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,113,2019-07-05,0.91,1,333
6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90,27,2018-10-31,0.22,1,0
7322,Chelsea Perfect,18946,Doti,Manhattan,Chelsea,40.74192,-73.99501,Private room,140,1,260,2019-07-01,2.12,1,12
7750,Huge 2 BR Upper East Cental Park,17985,Sing,Manhattan,East Harlem,40.79685,-73.94872,Entire home/apt,190,7,0,NaN,NaN,2,249

In [28]:
# Cria um dicionário
dsa_dict = {'neighbourhood_group':['Manhattan'], 'room_type':['Private room']}

In [29]:
print(dsa_dict)

{'neighbourhood_group': ['Manhattan'], 'room_type': ['Private room']}

A instrução abaixo verifica se o filtro criado no dicionário está na tabela de dados.

In [30]:
df_dsa1.isin(dsa_dict)

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
2539,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
2595,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
3647,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False
3831,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5022,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
5099,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
5121,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
5178,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False
5203,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False
5238,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
5295,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
5441,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False
5803,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
6021,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False
6090,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
6848,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7097,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7322,False,False,False,True,False,False,False,True,False,False,False,False,False,False,False
7726,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7750,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False

In [31]:
df_dsa1[df_dsa1.isin(dsa_dict)]

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
2539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Private room,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2595,NaN,NaN,NaN,Manhattan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3647,NaN,NaN,NaN,Manhattan,NaN,NaN,NaN,Private room,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5022,NaN,NaN,NaN,Manhattan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5099,NaN,NaN,NaN,Manhattan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Private room,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5178,NaN,NaN,NaN,Manhattan,NaN,NaN,NaN,Private room,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5203,NaN,NaN,NaN,Manhattan,NaN,NaN,NaN,Private room,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5238,NaN,NaN,NaN,Manhattan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5295,NaN,NaN,NaN,Manhattan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5441,NaN,NaN,NaN,Manhattan,NaN,NaN,NaN,Private room,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Private room,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6021,NaN,NaN,NaN,Manhattan,NaN,NaN,NaN,Private room,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6090,NaN,NaN,NaN,Manhattan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7322,NaN,NaN,NaN,Manhattan,NaN,NaN,NaN,Private room,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7750,NaN,NaN,NaN,Manhattan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df_dsa1_sem_nan = df_dsa1.dropna()

In [33]:
df_dsa1_sem_nan

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188
5295,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5,53,2019-06-22,0.43,1,6
5441,Central Manhattan/near Broadway,7989,Kate,Manhattan,Hell's Kitchen,40.76076,-73.98867,Private room,85,2,188,2019-06-23,1.50,1,39
5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,89,4,167,2019-06-24,1.34,3,314
6021,Wonderful Guest Bedroom in Manhattan for SINGLES,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,113,2019-07-05,0.91,1,333
6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90,27,2018-10-31,0.22,1,0
6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140,2,148,2019-06-29,1.20,1,46
7097,Perfect for Your Parents + Garden,17571,Jane,Brooklyn,Fort Greene,40.69169,-73.97185,Entire home/apt,215,2,198,2019-06-28,1.72,1,321
7322,Chelsea Perfect,18946,Doti,Manhattan,Chelsea,40.74192,-73.99501,Private room,140,1,260,2019-07-01,2.12,1,12
7726,Hip Historic Brownstone Apartment with Backyard,20950,Adam And Charity,Brooklyn,Crown Heights,40.67592,-73.94694,Entire home/apt,99,3,53,2019-06-22,4.44,1,21

### df.where( )

O comando abaixo filtra o DataFrame retornando um novo DataFrame onde os valores na coluna 'price' são menores que 100. As células que não satisfazem a condição ('price' < 100) resultam em NaN (valores ausentes) no DataFrame resultante. Onde a condição é verdadeira, os dados são mantidos como estão. Este método é útil para manter a estrutura do DataFrame original enquanto se filtra com base em condições específicas.

In [34]:
df_dsa1.where(df_dsa1['price'] < 100)

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
2539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2595,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3647,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3831,Cozy Entire Floor of Brownstone,4869.0,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89.0,1.0,270.0,2019-07-05,4.64,1.0,194.0
5022,Entire Apt: Spacious Studio/Loft by central park,7192.0,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80.0,10.0,9.0,2018-11-19,0.10,1.0,0.0
5099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5121,BlissArtsSpace!,7356.0,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60.0,45.0,49.0,2017-10-05,0.40,1.0,0.0
5178,Large Furnished Room Near B'way,8967.0,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79.0,2.0,430.0,2019-06-24,3.47,1.0,220.0
5203,Cozy Clean Guest Room - Family Apt,7490.0,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79.0,2.0,118.0,2017-07-21,0.99,1.0,0.0
5238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5441,Central Manhattan/near Broadway,7989.0,Kate,Manhattan,Hell's Kitchen,40.76076,-73.98867,Private room,85.0,2.0,188.0,2019-06-23,1.50,1.0,39.0
5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744.0,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,89.0,4.0,167.0,2019-06-24,1.34,3.0,314.0
6021,Wonderful Guest Bedroom in Manhattan for SINGLES,11528.0,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85.0,2.0,113.0,2019-07-05,0.91,1.0,333.0
6090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7726,Hip Historic Brownstone Apartment with Backyard,20950.0,Adam And Charity,Brooklyn,Crown Heights,40.67592,-73.94694,Entire home/apt,99.0,3.0,53.0,2019-06-22,4.44,1.0,21.0
7750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### df.mask( )

O comando abaixo faz o oposto do método .where(). Ele substitui os valores onde a condição é verdadeira por NaN. No caso específico, substitui por NaN as células na coluna 'price' do DataFrame que têm valores menores que 100. Para as linhas onde a condição 'price' < 100 não é satisfeita, os dados são mantidos como estão. Este método é útil para ocultar ou excluir dados baseando-se em uma condição específica.

In [35]:
df_dsa1.mask(df_dsa1['price'] < 100)

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
2539,Clean & quiet apt home by the park,2787.0,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149.0,1.0,9.0,2018-10-19,0.21,6.0,365.0
2595,Skylit Midtown Castle,2845.0,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225.0,1.0,45.0,2019-05-21,0.38,2.0,355.0
3647,THE VILLAGE OF HARLEM....NEW YORK !,4632.0,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150.0,3.0,0.0,NaN,NaN,1.0,365.0
3831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5099,Large Cozy 1 BR Apartment In Midtown East,7322.0,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200.0,3.0,74.0,2019-06-22,0.59,1.0,129.0
5121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5238,Cute & Cozy Lower East Side 1 bdrm,7549.0,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150.0,1.0,160.0,2019-06-09,1.33,4.0,188.0
5295,Beautiful 1br on Upper West Side,7702.0,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135.0,5.0,53.0,2019-06-22,0.43,1.0,6.0
5441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6090,West Village Nest - Superhost,11975.0,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120.0,90.0,27.0,2018-10-31,0.22,1.0,0.0
6848,Only 2 stops to Manhattan studio,15991.0,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140.0,2.0,148.0,2019-06-29,1.20,1.0,46.0
7097,Perfect for Your Parents + Garden,17571.0,Jane,Brooklyn,Fort Greene,40.69169,-73.97185,Entire home/apt,215.0,2.0,198.0,2019-06-28,1.72,1.0,321.0
7322,Chelsea Perfect,18946.0,Doti,Manhattan,Chelsea,40.74192,-73.99501,Private room,140.0,1.0,260.0,2019-07-01,2.12,1.0,12.0
7726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7750,Huge 2 BR Upper East Cental Park,17985.0,Sing,Manhattan,East Harlem,40.79685,-73.94872,Entire home/apt,190.0,7.0,0.0,NaN,NaN,2.0,249.0

### df.query( )

O comando abaixo filtra o DataFrame para linhas que satisfazem simultaneamente três condições: a coluna 'neighbourhood_group' deve ser igual a "Manhattan", o valor na coluna 'price' deve ser menor que 100, e o valor na coluna 'availability_365' deve ser maior que 50. O método .query() permite expressar estas condições de filtragem de forma concisa e legível, retornando um novo DataFrame com apenas as linhas que atendem a todas essas condições especificadas.

In [36]:
df_dsa1.query('neighbourhood_group == "Manhattan" & price < 100 & availability_365 > 50')

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
6021,Wonderful Guest Bedroom in Manhattan for SINGLES,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,113,2019-07-05,0.91,1,333

### df.get( )

O comando abaixo recupera a coluna 'name' do DataFrame como uma Series do Pandas. Este método é útil por oferecer uma maneira segura de acessar uma coluna, pois, diferentemente de df_dsa1['name'], que lançaria um erro se a coluna 'name' não existisse, df_dsa1.get("name") simplesmente retornaria None nesse caso, evitando a interrupção do programa por um erro.

In [37]:
df_dsa1.get("name")

id
2539                  Clean & quiet apt home by the park
2595                               Skylit Midtown Castle
3647                 THE VILLAGE OF HARLEM....NEW YORK !
3831                     Cozy Entire Floor of Brownstone
5022    Entire Apt: Spacious Studio/Loft by central park
5099           Large Cozy 1 BR Apartment In Midtown East
5121                                     BlissArtsSpace!
5178                    Large Furnished Room Near B'way
5203                  Cozy Clean Guest Room - Family Apt
5238                  Cute & Cozy Lower East Side 1 bdrm
5295                    Beautiful 1br on Upper West Side
5441                     Central Manhattan/near Broadway
5803      Lovely Room 1, Garden, Best Area, Legal rental
6021    Wonderful Guest Bedroom in Manhattan for SINGLES
6090                       West Village Nest - Superhost
6848                    Only 2 stops to Manhattan studio
7097                   Perfect for Your Parents + Garden
7322                                     Chelsea Perfect
7726     Hip Historic Brownstone Apartment with Backyard
7750                   Huge 2 BR Upper East  Cental Park
Name: name, dtype: object

In [38]:
df_dsa1["name"]

id
2539                  Clean & quiet apt home by the park
2595                               Skylit Midtown Castle
3647                 THE VILLAGE OF HARLEM....NEW YORK !
3831                     Cozy Entire Floor of Brownstone
5022    Entire Apt: Spacious Studio/Loft by central park
5099           Large Cozy 1 BR Apartment In Midtown East
5121                                     BlissArtsSpace!
5178                    Large Furnished Room Near B'way
5203                  Cozy Clean Guest Room - Family Apt
5238                  Cute & Cozy Lower East Side 1 bdrm
5295                    Beautiful 1br on Upper West Side
5441                     Central Manhattan/near Broadway
5803      Lovely Room 1, Garden, Best Area, Legal rental
6021    Wonderful Guest Bedroom in Manhattan for SINGLES
6090                       West Village Nest - Superhost
6848                    Only 2 stops to Manhattan studio
7097                   Perfect for Your Parents + Garden
7322                                     Chelsea Perfect
7726     Hip Historic Brownstone Apartment with Backyard
7750                   Huge 2 BR Upper East  Cental Park
Name: name, dtype: object

### df.sample( )

O comando abaixo seleciona aleatoriamente 5 linhas do DataFrame sem reposição (replace = False). A seleção é ponderada pelos pesos fornecidos, significando que as linhas terão uma probabilidade de serem escolhidas com base nos pesos associados a suas posições correspondentes na lista de pesos.

In [39]:
df_dsa1.sample(5, replace = False, weights = [0,5,5,8,14,25,8,1,5,8,1,2,3,8,14,25,8,1,5,8])

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
id,,,,,,,,,,,,,,,
5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
7750,Huge 2 BR Upper East Cental Park,17985,Sing,Manhattan,East Harlem,40.79685,-73.94872,Entire home/apt,190,7,0,NaN,NaN,2,249
6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140,2,148,2019-06-29,1.20,1,46
3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

### df.set_index( )

In [40]:
x = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20])

In [41]:
x

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
dtype: int64

O comando abaixo altera o índice do DataFrame para a coluna especificada por x, onde x deve ser o nome de uma coluna existente no DataFrame. O argumento inplace=True indica que a modificação será feita diretamente no DataFrame original, sem necessidade de atribuir o resultado a uma nova variável. Após a execução deste comando, df_dsa1 terá x como seu novo índice. Isso é útil para reindexar o DataFrame baseando-se em dados que são mais significativos como índice do que os números inteiros padrão.

In [42]:
df_dsa1.set_index(x, inplace = True)

In [43]:
df_dsa1

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
2,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
3,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
4,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
5,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
6,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
7,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
8,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
9,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
10,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188
11,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5,53,2019-06-22,0.43,1,6
12,Central Manhattan/near Broadway,7989,Kate,Manhattan,Hell's Kitchen,40.76076,-73.98867,Private room,85,2,188,2019-06-23,1.50,1,39
13,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,89,4,167,2019-06-24,1.34,3,314
14,Wonderful Guest Bedroom in Manhattan for SINGLES,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,113,2019-07-05,0.91,1,333
15,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90,27,2018-10-31,0.22,1,0
16,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140,2,148,2019-06-29,1.20,1,46
17,Perfect for Your Parents + Garden,17571,Jane,Brooklyn,Fort Greene,40.69169,-73.97185,Entire home/apt,215,2,198,2019-06-28,1.72,1,321
18,Chelsea Perfect,18946,Doti,Manhattan,Chelsea,40.74192,-73.99501,Private room,140,1,260,2019-07-01,2.12,1,12
19,Hip Historic Brownstone Apartment with Backyard,20950,Adam And Charity,Brooklyn,Crown Heights,40.67592,-73.94694,Entire home/apt,99,3,53,2019-06-22,4.44,1,21
20,Huge 2 BR Upper East Cental Park,17985,Sing,Manhattan,East Harlem,40.79685,-73.94872,Entire home/apt,190,7,0,NaN,NaN,2,249

### df.reset_index( )

In [44]:
df_dsa1 = df_dsa1.set_index('name')

O comando abaixo reinicializa o índice do DataFrame df_dsa1, transformando o índice atual em uma coluna e criando um novo índice de inteiros sequenciais a partir de zero. Com o argumento inplace=True, essa alteração é aplicada diretamente no DataFrame original, sem a necessidade de atribuir o resultado a uma nova variável. Esse comando é útil para desfazer a definição de um índice personalizado, voltando ao padrão de índices numéricos.

In [45]:
df_dsa1.reset_index(inplace = True)

In [46]:
df_dsa1

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
5,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,2019-06-22,0.59,1,129
6,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2017-10-05,0.40,1,0
7,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,2019-06-24,3.47,1,220
8,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
9,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2019-06-09,1.33,4,188
10,Beautiful 1br on Upper West Side,7702,Lena,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5,53,2019-06-22,0.43,1,6
11,Central Manhattan/near Broadway,7989,Kate,Manhattan,Hell's Kitchen,40.76076,-73.98867,Private room,85,2,188,2019-06-23,1.50,1,39
12,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,89,4,167,2019-06-24,1.34,3,314
13,Wonderful Guest Bedroom in Manhattan for SINGLES,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,113,2019-07-05,0.91,1,333
14,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90,27,2018-10-31,0.22,1,0
15,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140,2,148,2019-06-29,1.20,1,46
16,Perfect for Your Parents + Garden,17571,Jane,Brooklyn,Fort Greene,40.69169,-73.97185,Entire home/apt,215,2,198,2019-06-28,1.72,1,321
17,Chelsea Perfect,18946,Doti,Manhattan,Chelsea,40.74192,-73.99501,Private room,140,1,260,2019-07-01,2.12,1,12
18,Hip Historic Brownstone Apartment with Backyard,20950,Adam And Charity,Brooklyn,Crown Heights,40.67592,-73.94694,Entire home/apt,99,3,53,2019-06-22,4.44,1,21
19,Huge 2 BR Upper East Cental Park,17985,Sing,Manhattan,East Harlem,40.79685,-73.94872,Entire home/apt,190,7,0,NaN,NaN,2,249

In [47]:
%reload_ext watermark
%watermark -a "Data Science Academy"

Author: Data Science Academy

In [48]:
#%watermark -v -m

In [49]:
#%watermark --iversions

# Fim